In [26]:
import sqlite3
import pandas as pd
from random import sample

# Evaluate model

In this notebook we evaluate our crime model. The models' success rate is measured by evaluating the number of correct crimes in a randomised sample of prompts and crimes for each crime type identified (n=10).

In [68]:
conn = sqlite3.connect("../data/forum.db")    
c = conn.cursor()

ls: list[tuple] = [row 
 for row in c.execute("SELECT * FROM crimes;")
   ]

df =pd.DataFrame(ls, columns=['prompt', 'crime'])
df['crime'] = df['crime'].apply(lambda x: x.strip())

In [72]:
df['crime'][0]

'No crime.'

In [102]:
def random_samples(df) -> list[pd.DataFrame]:
    common_crimes = ['No crime.', 'Assault.', 'Arson.', 'Infanticide.']
    dictionary = {}
    for crime in common_crimes:
        dictionary[crime] = df.query(f'crime == "{crime}"').sample(10)
    
    return dictionary

randomised_dfs = random_samples(df)

In [119]:
randomised_dfs['No crime.']
#10/10

                                                 prompt      crime
1031               Svensk misstänkt för tyskt rekordrån  No crime.
1146  Skulle säljas – som sexslav pa malta svensk fo...  No crime.
3618             ♦·♦·♦ Läs detta innan du postar! ♦·♦·♦  No crime.
1808                                      Gäng i Boden?  No crime.
668     Vad vet vi om Utpressarligan med bas i Västerås  No crime.
492                             Annorluna polisärenden?  No crime.
264   England betalar dömda utlänningar för att åka hem  No crime.
325                                   Sverige om 10 år.  No crime.
1617                  Stora tomtelandsbluffen i England  No crime.
1507                               Är det samme läkare?  No crime.

There are no false positives in No Crime. Likely higher in a larger sample.

In [118]:
randomised_dfs['Assault.']

                                                 prompt     crime
2267                               Våldtogs på möhippa?  Assault.
978      Naken man i rånarluva ofredar joggande kvinnor  Assault.
1819  "Palestina"-arab skjuter 2 st israeler i Danma...  Assault.
3639                             TV-pejlare misshandlad  Assault.
2425                         Brott i balingsnäs/handen?  Assault.
2690                   Allvarlig knivskärning i uppsala  Assault.
2285  Medborgargarde manglar våldtäktsman - slipper ...  Assault.
2506  24-årig man åtalas för grov kvinnofridskränkni...  Assault.
1546  Polisen i Markaryd ingriper mot brottsligheten...  Assault.
2205                       Polis våldtog dotter i sthlm  Assault.

There is 1 false positive in our sample and from the 9 true positives we see that the model makes no differentiation between sexual assault and assault.

In [120]:
randomised_dfs['Arson.']

                                              prompt   crime
2518  Vilka är det som vill elda upp garaget? [Umeå]  Arson.
634                        Polisen ringer och sabbar  Arson.
3583               Rånare skjuten i benet / Lycksele  Arson.
879        Flertalet anlagda bränder i Smålandstenar  Arson.
2720                           Anlagd brand Enköping  Arson.
3014      Brand på rest. Järngrytan i Partille 14/10  Arson.
2594                    Rån mot Exhange i Södertälje  Arson.
3458                    Ängelholmare fast med k-pist  Arson.
2457            Misstänkt pyroman häktad i Linköping  Arson.
2119               Pappan försökte elda upp familjen  Arson.